/* 
COLOR PALETTE 1
#47003c
#77176e
#c83fa9
#aa4d84
#f3b0dc 
#f55593

COLOR PALETTE 2
#2e0f38
#1a2c54
#8351a8
#4d7b93
#b45dbb
*/

* {
    background-color: #47003c;
    color: #f3b0dc;
}

h1 {
    font-size: 50px;
    color: #f55593;
    font-family: 'comic sans ms';
}

.title {
    text-align: center;
}


div {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #7c036a;
    font-size: 20px;
    border-radius: 12px;
    margin: 15px;
    cursor: pointer;
}

.fixedWidth {
    width: 150px;
}

button:hover {
    background-color: #f3b0dc;
    color: #7c036a;
}

a {
    color: #f55593;
}
a:hover {
    color: #c83fa9;
}
a:visited {
    color: #c83fa9;
}