/* 
COLOR PALETTE 1
#47003c
#77176e
#c83fa9
#aa4d84
#f3b0dc 
#f55593

COLOR PALETTE 2
#2e0f38
#1a2c54
#8351a8
#4d7b93
#b45dbb
*/

* {
    background-color: #47003c;
    color: #f3b0dc;
}

h1 {
    font-size: 50px;
    color: #f55593;
    font-family: 'comic sans ms';
}

.title {
    text-align: center;
}

div {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    border: 3px solid #f076c5;
    margin-bottom: 25px;
}

button {
    background-color: #7c036a;
    font-size: 20px;
    border-radius: 12px;
    margin: 15px;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.75, 0.5, 0.5, 1);
}

.fixedWidth {
    width: 150px;
}

button:hover {
    background-color: #f3b0dc;
    color: #7c036a;
}

a {
    color: #f55593;
}

a:hover {
    color: #c83fa9;
}

a:visited {
    color: #c83fa9;
}

.box h2 {
    background-color: #77176e;
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
}

.box {
    background-color: #77176e;
    border-radius: 12px;
    border: 3px dotted #f076c5;
    margin: 15px;
    padding: 15px 15px 200px 15px;
    text-align: left;
    font-family: comic sans ms;
}

.card {
    width: 300px;
    padding: 20px;
    border: #f076c5 3px solid;
    margin: auto;
    border-radius: 15px;
    background-color: #77176e;
    box-sizing: border-box;   
}