/* Import Comic Relief Font */
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

/* COLOR PALETTE 1 */
:root {
    --bg-color: #47003c;
    --text-color: #f3b0dc;
    --accent-color: #f55593;
    --visited-color: #c83fa9;
    --secondary-color: #77176e;
    --extra-color: #aa4d84;
}

* {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Comic Relief', 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', Arial, sans-serif;
}

h1 {
    font-size: 50px;
    color: var(--text-color);
}

a {
    color: var(--accent-color);
}

a:hover {
    color: var(--visited-color);
}

a:visited {
    color: var(--visited-color);
}

.nav {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: var(--text-color);
  background-color: var(--secondary-color);
  text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
}

.header button { 
    border-radius: 6px;
}

.header div {
    background-color: var(--secondary-color);
    font-size: 25px;
}

.header nav {
    background-color: var(--secondary-color);
}

.title {
    text-align: center;
}

div {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    border: 3px solid var(--extra-color);
    margin-bottom: 25px;
}

button {
    background-color: var(--secondary-color);
    font-size: 20px;
    border-radius: 12px;
    margin: 15px;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.75, 0.5, 0.5, 1);
}

button:hover {
    background-color: var(--text-color);
    color: var(--secondary-color);
}

.fixedWidth {
    width: 150px;
}

.box h2 {
    background-color: var(--secondary-color);
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
}